<div class="container-fluid">
                <div class="jumbotron">
                    <h1 style="text-align:center;">Medical Cost Pricing</h1>
                </div>
                <div style="height:50px;"></div>
                <div class="row">
                    <div class="col-md" align="center">
                        <h5 style="color:lightseagreen;">Estimate your healthcare expenses</h1>
                            <p>Get essential information costs for thousands of procedures all brought to you by people just like you.</p>
                            <button type="button" class="btn btn-primary" style="padding:10px;">
                                    <i class="material-icons">search</i> Start your search here</button>

                    </div>
                    <div class="col-md" align="center">
                        <h5 style="color:lightseagreen;">Share your healthcare expenses</h1>
                            <p>Share your experience with medical procedures, professionals, and care that you have received.</p>
                            <button type="button" class="btn btn-primary" style="padding:10px;">

                                    <i class="material-icons">screen_share</i> Start sharing here

                            </button>

                    </div>
                    <div class="col-md" align="center">
                        <h5 style="color:lightseagreen;">Sound it out</h1>
                            <p>Need advice on which doctor or facility to use for the procedure? Speak to other patients in your local area.</p>
                            <button type="button" class="btn btn-primary" style="padding:10px;">
                                <i class="material-icons">forum</i> Check out the forums
                            </button>
                    </div>
                </div>

</div>