html,body{
    height: 100%;
}

#bodyContent{
    min-height: 100%;
}

/************************************************************************************************************
*   Active navbar links, navbar links on hover, and dropdown items on hover should share a color
*************************************************************************************************************/
#bodyContent > nav > .navbar-collapse > .navbar-nav > a.nav-item.active,
.navbar-nav > .nav-item.nav-link:hover,
.navbar-nav > .nav-item.dropdown > .dropdown-toggle:hover,
.navbar-nav > .nav-item.dropdown > .dropdown-menu > .dropdown-item:hover
{
    color: lightseagreen;
}

/************************************************************************************************************
*   Align the body content to the absolute left of its container.
*************************************************************************************************************/
body>div.container{
    padding: 0px;
}

/************************************************************************************************************
*   Footer color should stay on bottom (sticky)
*************************************************************************************************************/
footer{
    bottom: 0px;
}

/************************************************************************************************************
*   Footer color and font-size should be consistent
*************************************************************************************************************/
footer>#footerCont{
    color: lightseagreen;
    font-size: 14px;
    background-color: none;
    border-top: 2px solid lightseagreen;
}

/************************************************************************************************************
*   Flex container for horizontal, center-justified footer content
*************************************************************************************************************/
footer>div{
    display: flex;
    justify-content: center;
}

/************************************************************************************************************
*   Align footer content in the center
*************************************************************************************************************/
footer>div.container>div{
    padding-top: 0px;
    text-align: center;
}

/************************************************************************************************************
*   Flex parameters for each footer "column"
*************************************************************************************************************/
#navLinks, #devLinks, #contributors, #sponsors{
    flex: 1 1 auto;
}

/************************************************************************************************************
*   Don't show footer list elements with list dots
*************************************************************************************************************/
footer>#footerCont>div>ul{
    list-style-type: none;
    padding: 0px;
}

/************************************************************************************************************
*   Text in footer lists and links should be the same size
*************************************************************************************************************/
footer>div>div>ul>li, footer>div>div>a{
    font-size: 12px;
}